    <!--Page Content-->
<div class="about page-content">

    <!--Hero Static-->
    <section class="hero-static">
        <div class="overlay"></div>
        <div style="background-image: url(/Content/img/about/about_bg.jpg);" class="bg-image" data-stellar-background-ratio="0.5"></div>
        <div class="content">
            <div class="inner">
                <h1>Awesome team.<br /><span>Awesome shop.</span></h1>
            </div>
        </div>
    </section><!--Hero Static Close-->
    <!--About Info-->
    <section class="space-top space-bottom container">
        <h2>About us</h2>
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6">
                <h3>Why we are cool</h3>
                <p class="p-style3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-lg-6 col-lg-offset-1 col-md-6 col-sm-6">
                <p class="p-style3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse eiusmod tempor incididunt ut labore.</p>
            </div>
        </div>
    </section><!--About Info Close-->
    <!--Team-->
    <section class="team container">
        <h3>Meet our team</h3>
        <div class="row">
            <!--Member-->
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="member">
                    <div class="mask"><img src="/Content/img/about/team/1.png" alt="1" /></div>
                    <h4>Jonathan Doe</h4>
                    <h5>CEO, Founder</h5>
                    <div class="social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-pinterest-square"></i></a>
                        <a href="mailto:mail@mail.com"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
            <!--Member-->
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="member">
                    <div class="mask"><img src="/Content/img/about/team/1.png" alt="1" /></div>
                    <h4>Jonathan Doe</h4>
                    <h5>CEO, Founder</h5>
                    <div class="social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-pinterest-square"></i></a>
                        <a href="mailto:mail@mail.com"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
            <!--Member-->
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="member">
                    <div class="mask"><img src="/Content/img/about/team/1.png" alt="1" /></div>
                    <h4>Jonathan Doe</h4>
                    <h5>CEO, Founder</h5>
                    <div class="social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-pinterest-square"></i></a>
                        <a href="mailto:mail@mail.com"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
            <!--Member-->
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="member">
                    <div class="mask"><img src="/Content/img/about/team/1.png" alt="1" /></div>
                    <h4>Jonathan Doe</h4>
                    <h5>CEO, Founder</h5>
                    <div class="social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-pinterest-square"></i></a>
                        <a href="mailto:mail@mail.com"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section><!--Team Close-->

</div><!--Page Content Close-->