    
<!--Page Content-->
<div class="page-content">
    <!--Hero Slider-->
    <section class="hero-slider">
        <div class="master-slider" id="hero-slider">
            <!--Slide 1-->
            <div class="ms-slide" data-delay="7">
                <div class="overlay"></div>
                <img src="/Scripts/masterslider/blank.gif" data-src="/Content/nildeniz/slider3.jpg" alt="Nikon D4S" />
                <h3 style="width: 456px; left: 110px; top: 110px;" class="light-color ms-layer" data-effect="top(50,true)" data-duration="700" data-delay="250" data-ease="easeOutQuad">Sektöründe 50 Yıl...</h3>
                <p style="width: 456px; left: 110px; top: 210px;" class="light-color ms-layer" data-effect="back(500)" data-duration="700" data-delay="500" data-ease="easeOutQuad">Bebek ve çocuk gereçlerinde sektöründe öncü...</p>
                <div style="left: 110px; top: 300px;" class="ms-layer button" data-effect="bottom(50,true)" data-duration="600" data-delay="950" data-ease="easeOutQuad"><a class="btn btn-primary" href="#"><span>baby2go</span>Ziyaret Et</a></div>
            </div>

            <!--Slide 2-->
            <div class="ms-slide" data-delay="7">
                <span class="overlay"></span>
                <img src="/Scripts/masterslider/blank.gif" data-src="/Content/aytac/aytac1.jpeg" alt="Nest" />
                <h2 style="width: 456px; left: 110px; top: 110px;" class="light-color ms-layer" data-effect="bottom(50,true)" data-duration="700" data-delay="250" data-ease="easeOutQuad">4baby</h2>
                <p style="width: 456px; left: 110px; top: 210px;" class="light-color ms-layer" data-effect="bottom(50,true)" data-duration="700" data-delay="500" data-ease="easeOutQuad">2018 bebek ve çocuk gereçleri</p>
                <div style="left: 110px; top: 300px;" class="ms-layer button" data-effect="rotatebottom(30|90,long,br,true)" data-duration="600" data-delay="950" data-ease="easeOutQuad"><a class="btn btn-primary" href="https://www.4baby.com.tr"><span>4baby</span>Ürünlere Göz At</a></div>
            </div>
            <!--Slide 3-->
            <div class="ms-slide" data-delay="7">
                <div class="overlay"></div>
                <img src="/Scripts/masterslider/blank.gif" data-src="/Content/aytac/WhatsApp Image 2018-02-23 at 23.48.22.jpeg" alt="3D Printer" />
                <h2 style="width: 456px; left: 110px; top: 110px;" class="light-color ms-layer" data-effect="left(50,true)" data-duration="700" data-delay="250" data-ease="easeOutQuad"></h2>
                <p style="width: 456px; left: 110px; top: 210px;" class="light-color ms-layer" data-effect="left(50,true)" data-duration="700" data-delay="500" data-ease="easeOutQuad"></p>
                <div style="left: 110px; top: 180px;" class="ms-layer button" data-effect="left(50,true)" data-duration="600" data-delay="950" data-ease="easeOutQuad"><a class="btn btn-primary" href="https://www.4baby.com.tr/katolog.pdf"><span>4baby Kataloğu İndir</span></a></div>
            </div>

            <div class="ms-slide" data-delay="7">
                <div class="overlay"></div>
                <img src="/Scripts/masterslider/blank.gif" data-src="/Content/aytac/arkaplan4.jpg" alt="Nikon D4S" />
                <h2 style="width: 456px; left: 110px; top: 110px;" class="light-color ms-layer" data-effect="top(50,true)" data-duration="700" data-delay="250" data-ease="easeOutQuad">%100 Yerli</h2>
                <p style="width: 456px; left: 110px; top: 210px;" class="light-color ms-layer" data-effect="back(500)" data-duration="700" data-delay="500" data-ease="easeOutQuad">Tüm ürünlerimiz A'dan Z'ye Türkiye'de Üretilmiştir</p>
                @*<div style="left: 110px; top: 300px;" class="ms-layer button" data-effect="bottom(50,true)" data-duration="600" data-delay="950" data-ease="easeOutQuad"><a class="btn btn-primary" href="#"><span></span></a></div>*@
            </div>


        </div>
    </section><!--Hero Slider Close-->
    <!--Categories-->
    <section class="cat-tiles">
        <div class="container">
            <h2>Markalarımız</h2>
            <div class="row">
                <!--Category-->
                <div class="category col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <a href="javascript:void(0);">
                        @*<img src="/Content/img/categories/1.png" alt="1" />*@
                        @*<img src="~/Content/nildeniz/baby2go.png" />*@
                        <img src="~/Content/aytac/baby4-logo.png" />
                        <p>
                            @*Bebek Arabaları, Bebek Parkları,
                                her türlü bebek gereç ve aksesuarları*@
                        </p>
                    </a>
                </div>
                <!--Category-->
                <div class="category col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <a href="javascript:void(0);">
                        @*<img src="/Content/img/categories/1.png" alt="1" />*@
                        @*<img src="~/Content/nildeniz/bubchen.png" />*@
                        <img src="~/Content/aytac/infinitilogo.png" />
                        @*<p>Bebek ve Çocuk Kozmetik ürünleri. Bebek Şampuanı, Bebek Yağ, Pişik Kremleri</p>*@
                    </a>
                </div>
                <!--Category-->
                @*<div class="category col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <a href="javascript:void(0);">
                            <img src="/Content/img/categories/1.png" alt="1" />
                            <img src="~/Content/nildeniz/formula.png" />
                            <p>Akülü Arabalar, Cipler, Motosikletler ve Lisanlı ürünler</p>
                        </a>
                    </div>*@
                <!--Category-->
                @*<div class="category col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <a href="#">
                            <img src="/Content/img/categories/1.png" alt="1" />
                            <img src="~/Content/nildeniz/nuby.png" />
                            <p>Bebek beslenme ve Bakım ürünleri Emzik,Biberon</p>
                        </a>
                    </div>*@
            </div>
        </div>
    </section><!--Categories Close-->
    <!--Tabs Widget-->
    <section class="tabs-widget">
        <!-- Nav tabs -->
        @*<ul class="nav nav-tabs">
                <li class="active"><a href="#bestsel" data-toggle="tab">En Çok Satılan Ürünler</a></li>
                <li><a href="#onsale" data-toggle="tab">Satışı Yapılan Ürünler</a></li>
                <li><a href="#onsale2" data-toggle="tab">Satışı Yapılan Ürünler</a></li>
                <li><a href="#onsale3" data-toggle="tab">Satışı Yapılan Ürünler</a></li>
                <li><a href="#onsale4" data-toggle="tab">Satışı Yapılan Ürünler</a></li>
                <li><a href="#onsale5" data-toggle="tab">Satışı Yapılan Ürünler</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="bestsel">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7 col-md-7 col-sm-7">
                                <a class="media-link" href="javascript:void(0);">
                                    <div class="overlay">
                                        <div class="descr"><div>X-MAS LIGHT IPHONE LENS<span>$14.95</span></div></div>
                                    </div>
                                    <img src="/Content/img/media/1.jpg" alt="1" />
                                </a>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <a class="media-link" href="javascript:void(0);">
                                    <div class="overlay">
                                        <div class="descr"><div>Hedadset for iPhone<span>$19.40</span></div></div>
                                    </div>
                                    <img src="/Content/img/media/2.jpg" alt="2" />
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <a class="media-link" href="javascript:void(0);">
                                    <div class="overlay">
                                        <div class="descr"><div>Product Name<span>$24.15</span></div></div>
                                    </div>
                                    <img src="/Content/img/media/3.jpg" alt="3" />
                                </a>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <a class="media-link" href="javascript:void(0);">
                                    <div class="overlay">
                                        <div class="descr"><div>Product Name<span>$24.15</span></div></div>
                                    </div>
                                    <img src="/Content/img/media/4.jpg" alt="4" />
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <a class="media-link" href="javascript:void(0);">
                                    <div class="overlay">
                                        <div class="descr"><div>Product Name<span>$24.15</span></div></div>
                                    </div>
                                    <img src="/Content/img/media/5.jpg" alt="5" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="onsale">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a class="media-link" href="#">
                                    <div class="overlay">
                                        <div class="descr"><div>X-MAS LIGHT IPHONE LENS<span>$14.95</span></div></div>
                                    </div>
                                    <img src="/Content/img/media/6.jpg" alt="1" />
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a class="media-link" href="#">
                                    <div class="overlay">
                                        <div class="descr"><div>Hedadset for iPhone<span>$19.40</span></div></div>
                                    </div>
                                    <img src="/Content/img/media/6.jpg" alt="2" />
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a class="media-link" href="#">
                                    <div class="overlay">
                                        <div class="descr"><div>Product Name<span>$24.15</span></div></div>
                                    </div>
                                    <img src="/Content/img/media/6.jpg" alt="3" />
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a class="media-link" href="#">
                                    <div class="overlay">
                                        <div class="descr"><div>Product Name<span>$24.15</span></div></div>
                                    </div>
                                    <img src="/Content/img/media/6.jpg" alt="4" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="onsale2">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a class="media-link" href="#">
                                    <div class="overlay">
                                        <div class="descr"><div>X-MAS LIGHT IPHONE LENS<span>$14.95</span></div></div>
                                    </div>
                                    <img src="/Content/img/media/6.jpg" alt="1" />
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a class="media-link" href="#">
                                    <div class="overlay">
                                        <div class="descr"><div>Hedadset for iPhone<span>$19.40</span></div></div>
                                    </div>
                                    <img src="/Content/img/media/6.jpg" alt="2" />
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a class="media-link" href="#">
                                    <div class="overlay">
                                        <div class="descr"><div>Product Name<span>$24.15</span></div></div>
                                    </div>
                                    <img src="/Content/img/media/6.jpg" alt="3" />
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a class="media-link" href="#">
                                    <div class="overlay">
                                        <div class="descr"><div>Product Name<span>$24.15</span></div></div>
                                    </div>
                                    <img src="/Content/img/media/6.jpg" alt="4" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="onsale3">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a class="media-link" href="#">
                                    <div class="overlay">
                                        <div class="descr"><div>X-MAS LIGHT IPHONE LENS<span>$14.95</span></div></div>
                                    </div>
                                    <img src="/Content/img/media/6.jpg" alt="1" />
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a class="media-link" href="#">
                                    <div class="overlay">
                                        <div class="descr"><div>Hedadset for iPhone<span>$19.40</span></div></div>
                                    </div>
                                    <img src="/Content/img/media/6.jpg" alt="2" />
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a class="media-link" href="#">
                                    <div class="overlay">
                                        <div class="descr"><div>Product Name<span>$24.15</span></div></div>
                                    </div>
                                    <img src="/Content/img/media/6.jpg" alt="3" />
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a class="media-link" href="#">
                                    <div class="overlay">
                                        <div class="descr"><div>Product Name<span>$24.15</span></div></div>
                                    </div>
                                    <img src="/Content/img/media/6.jpg" alt="4" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="onsale4">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a class="media-link" href="#">
                                    <div class="overlay">
                                        <div class="descr"><div>X-MAS LIGHT IPHONE LENS<span>$14.95</span></div></div>
                                    </div>
                                    <img src="/Content/img/media/6.jpg" alt="1" />
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a class="media-link" href="#">
                                    <div class="overlay">
                                        <div class="descr"><div>Hedadset for iPhone<span>$19.40</span></div></div>
                                    </div>
                                    <img src="/Content/img/media/6.jpg" alt="2" />
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a class="media-link" href="#">
                                    <div class="overlay">
                                        <div class="descr"><div>Product Name<span>$24.15</span></div></div>
                                    </div>
                                    <img src="/Content/img/media/6.jpg" alt="3" />
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a class="media-link" href="#">
                                    <div class="overlay">
                                        <div class="descr"><div>Product Name<span>$24.15</span></div></div>
                                    </div>
                                    <img src="/Content/img/media/6.jpg" alt="4" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="onsale5">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a class="media-link" href="#">
                                    <div class="overlay">
                                        <div class="descr"><div>X-MAS LIGHT IPHONE LENS<span>$14.95</span></div></div>
                                    </div>
                                    <img src="/Content/img/media/6.jpg" alt="1" />
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a class="media-link" href="#">
                                    <div class="overlay">
                                        <div class="descr"><div>Hedadset for iPhone<span>$19.40</span></div></div>
                                    </div>
                                    <img src="/Content/img/media/6.jpg" alt="2" />
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a class="media-link" href="#">
                                    <div class="overlay">
                                        <div class="descr"><div>Product Name<span>$24.15</span></div></div>
                                    </div>
                                    <img src="/Content/img/media/6.jpg" alt="3" />
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a class="media-link" href="#">
                                    <div class="overlay">
                                        <div class="descr"><div>Product Name<span>$24.15</span></div></div>
                                    </div>
                                    <img src="/Content/img/media/6.jpg" alt="4" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
    </section><!--Tabs Widget Close-->
    <!--Categories Slider-->
    <section id="markalarimizAnchor" class="category-slider">
        <div class="master-slider" id="cat-slider">

            <!--Category (Slide) 1-->
            <div class="ms-slide">
                <!--Background-->
                <img src="/Scripts/masterslider/blank.gif" data-src="/Content/aytac/aytac1.jpeg" alt="lorem ipsum dolor sit" />
                <!--Text-->
                <div class="ms-layer text-block" data-effect="left(50,true)" data-duration="800" data-delay="250" data-ease="easeOutQuad">
                    <h2 class="light-color">Look for all macs<br />in our shop!</h2>
                    <p class="light-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                    <a class="btn btn-primary" href="#">Go to catalog</a>
                    <a class="btn btn-success" href="#">Browse all PC</a>
                </div>
                <!--Image-->
                <img style="right: 50px;" class="ms-layer img-block" src="/Content/nildeniz/baby2go.png" alt="1" data-effect="back(500)" data-duration="800" data-delay="350" data-ease="easeOutQuad" />
                <div class="ms-thumb">
                    @*<img src="/Content/img/categories/thumbs/th_1.png" alt="1" />*@
                    @*<img src="/Content/nildeniz/baby2go.png" />*@
                    <img src="/Content/aytac/baby4-logo.png" />
                    <h3>4Baby</h3>
                </div>
            </div>

            <!--Category (Slide) 2-->
            <div class="ms-slide">
                <!--Background-->
                <img src="/Scripts/masterslider/blank.gif" data-src="/Content/aytac/infiniti_1.jpg" alt="lorem ipsum dolor sit" />
                <!--Text-->
                <div class="ms-layer text-block" data-effect="right(50,true)" data-duration="800" data-delay="250" data-ease="easeOutQuad">
                    <h2 class="gray-color">Look for all macs<br />in our shop!</h2>
                    <p class="gray-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                    <a class="btn btn-primary" href="#">Go to catalog</a>
                    <a class="btn btn-success" href="#">Browse all PC</a>
                </div>
                <!--Image-->
                <img style="right: 50px;" class="ms-layer img-block" src="/Content/nildeniz/bubchen.png" alt="2" data-effect="back(500)" data-duration="800" data-delay="350" data-ease="easeOutQuad" />
                <div class="ms-thumb">
                    <img src="/Content/aytac/infinitilogo.png" />
                    @*<img src="/Content/nildeniz/bubchen.png" />*@
                    @*<img src="/Content/img/categories/thumbs/th_1.png" alt="1" />*@
                    <h3>Infinitive</h3>
                </div>
            </div>

            <!--Category (Slide) 3-->
            @*<div class="ms-slide">
                <!--Background-->
                <img src="/Scripts/masterslider/blank.gif" data-src="/Content/nildeniz/slider3.jpg" alt="lorem ipsum dolor sit" />
                <!--Text-->
                <div class="ms-layer text-block" data-effect="right(50,true)" data-duration="800" data-delay="250" data-ease="easeOutQuad">
                    <h2 class="light-color">Look for all macs<br />in our shop!</h2>
                    <p class="light-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                    <a class="btn btn-primary" href="#">Go to catalog</a>
                    <a class="btn btn-success" href="#">Browse all PC</a>
                </div>
                <!--Image-->
                <img style="right: 0;" class="ms-layer img-block" src="/Content/nildeniz/formula.png" " alt="3" data-effect="back(500)" data-duration="800" data-delay="350" data-ease="easeOutQuad" />
                <div class="ms-thumb">
                    <img src="/Content/img/categories/thumbs/th_1.png" alt="1" />
                    <img src="/Content/nildeniz/formula.png" />
                    <h3>Formula</h3>
                </div>
            </div>*@

            <!--Category (Slide) 4-->
            @*<div class="ms-slide">
                <!--Background-->
                <img src="/Scripts/masterslider/blank.gif" data-src="/Content/nildeniz/bubyeni.jpg" alt="lorem ipsum dolor sit" />
                <!--Text-->
                <div class="ms-layer text-block" data-effect="right(50,true)" data-duration="800" data-delay="250" data-ease="easeOutQuad">
                    <h2 class="light-color">Look for all macs<br />in our shop!</h2>
                    <p class="light-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                    <a class="btn btn-primary" href="#">Go to catalog</a>
                    <a class="btn btn-success" href="#">Browse all PC</a>
                </div>
                <!--Image-->
                <img style="right: 60px;" class="ms-layer img-block" src="/Content/nildeniz/nuby.png" alt="4" data-effect="back(500)" data-duration="800" data-delay="350" data-ease="easeOutQuad" />
                <div class="ms-thumb">
                    <img src="/Content/img/categories/thumbs/th_1.png" alt="1" />
                    <img src="/Content/nildeniz/nuby.png" />
                    <h3>Nuby</h3>
                </div>
            </div>*@

            <!--Category (Slide) 5-->
            @*<div class="ms-slide">
                <!--Background-->
                <img src="/Scripts/masterslider/blank.gif" data-src="/Content/nildeniz/baby2goyeni.jpg" alt="lorem ipsum dolor sit" />
                <!--Text-->
                <div class="ms-layer text-block" data-effect="right(50,true)" data-duration="800" data-delay="250" data-ease="easeOutQuad">
                    <h2 class="gray-color">Look for all macs<br />in our shop!</h2>
                    <p class="gray-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                    <a class="btn btn-primary" href="#">Go to catalog</a>
                    <a class="btn btn-success" href="#">Browse all PC</a>
                </div>
                <!--Image-->
                <img style="right: 60px;" class="ms-layer img-block" src="/Content/nildeniz/baby2go.png" alt="5" data-effect="back(500)" data-duration="800" data-delay="350" data-ease="easeOutQuad" />
                <div class="ms-thumb">
                    <img src="/Content/img/categories/thumbs/th_1.png" alt="1" />
                    <img src="/Content/nildeniz/baby2go.png" />
                    <h3>Baby2go</h3>
                </div>
            </div>*@

        </div>
    </section><!--Categories Slider Close-->
    <!--Gallery Widget-->
    <section class="gray-bg gallery-widget">
        <div class="container">
            <h2>Ürün Resim Galerisi</h2>
            <div class="filters">
                <a class="active" href="#" data-group="all">Hepsi</a>
                <a href="#" data-group="camera">Kategori 1</a>
                <a href="#" data-group="flash">Kategori 2</a>
                <a href="#" data-group="lenses">Kategori 3</a>
                <a href="#" data-group="video">Kategori 4</a>
            </div>
            <div class="gallery-grid">
                <!--Item-->
                <div class="gallery-item" data-groups='["camera"]' data-src="/Content/img/gallery-widget/1.jpg">
                    <a href="javascript:void(0);">
                        <div class="overlay"><span><i class="icon-expand"></i></span></div>
                        <img src="/Content/img/gallery-widget/th_1.jpg" alt="1" />
                    </a>
                </div>
                <!--Item-->
                <div class="gallery-item" data-groups='["camera"]' data-src="/Content/img/gallery-widget/2.jpg">
                    <a href="javascript:void(0);">
                        <div class="overlay"><span><i class="icon-expand"></i></span></div>
                        <img src="/Content/img/gallery-widget/th_1.jpg" alt="2" />
                    </a>
                </div>
                <!--Item-->
                <div class="gallery-item" data-groups='["video"]' data-src="https://www.youtube.com/watch?v=hdEAWW7tZSA">
                    <a href="https://www.youtube.com/watch?v=hdEAWW7tZSA">
                        <div class="overlay"><span><i class="icon-music-play"></i></span></div>
                        <img src="/Content/img/gallery-widget/th_1.jpg" alt="3" />
                    </a>
                </div>
                <!--Item-->
                <div class="gallery-item" data-groups='["lenses"]' data-src="/Content/img/gallery-widget/4.jpg">
                    <a href="javascript:void(0);">
                        <div class="overlay"><span><i class="icon-expand"></i></span></div>
                        <img src="/Content/img/gallery-widget/th_1.jpg" alt="4" />
                    </a>
                </div>
                <!--Item-->
                <div class="gallery-item" data-groups='["flash"]' data-src="/Content/img/gallery-widget/5.jpg">
                    <a href="javascript:void(0);">
                        <div class="overlay"><span><i class="icon-expand"></i></span></div>
                        <img src="/Content/img/gallery-widget/th_1.jpg" alt="5" />
                    </a>
                </div>
                <!--Item-->
                <div class="gallery-item" data-groups='["flash"]' data-src="/Content/img/gallery-widget/1.jpg">
                    <a href="javascript:void(0);">
                        <div class="overlay"><span><i class="icon-expand"></i></span></div>
                        <img src="/Content/img/gallery-widget/th_1.jpg" alt="6" />
                    </a>
                </div>
            </div>
        </div>
    </section><!--Gallery Widget Close-->
    <!--Brands Carousel Widget-->
    <section class="brand-carousel">
        <div class="container">
            <h2>Markalarımız 2</h2>
            <div class="inner">
                <a class="item" href="javascript:void(0);">
                    @*<img src="/Content/img/categories/1.png" alt="1" />*@
                    <img src="~/Content/nildeniz/baby2go.png" />
                    <p>
                        Bebek Arabaları, Bebek Parkları,
                        her türlü bebek gereç ve aksesuarları
                    </p>
                </a>
                <a class="item" href="javascript:void(0);">
                    @*<img src="/Content/img/categories/1.png" alt="1" />*@
                    <img src="~/Content/nildeniz/formula.png" />
                    <p>Akülü Arabalar, Cipler, Motosikletler ve Lisanlı ürünler</p>
                </a>
                <a class="item" href="javascript:void(0);">
                    @*<img src="/Content/img/categories/1.png" alt="1" />*@
                    <img src="~/Content/nildeniz/bubchen.png" />
                    <p>Bebek ve Çocuk Kozmetik ürünleri. Bebek Şampuanı, Bebek Yağ, Pişik Kremleri</p>
                </a>
                <a class="item" href="#">
                    @*<img src="/Content/img/categories/1.png" alt="1" />*@
                    <img src="~/Content/nildeniz/nuby.png" />
                    <p>Bebek beslenme ve Bakım ürünleri Emzik,Biberon</p>
                </a>
                <a class="item" href="javascript:void(0);">
                    @*<img src="/Content/img/categories/1.png" alt="1" />*@
                    <img src="~/Content/nildeniz/baby2go.png" />
                    <p>
                        Bebek Arabaları, Bebek Parkları,
                        her türlü bebek gereç ve aksesuarları
                    </p>
                </a>
                <a class="item" href="javascript:void(0);">
                    @*<img src="/Content/img/categories/1.png" alt="1" />*@
                    <img src="~/Content/nildeniz/formula.png" />
                    <p>Akülü Arabalar, Cipler, Motosikletler ve Lisanlı ürünler</p>
                </a>
                <a class="item" href="javascript:void(0);">
                    @*<img src="/Content/img/categories/1.png" alt="1" />*@
                    <img src="~/Content/nildeniz/bubchen.png" />
                    <p>Bebek ve Çocuk Kozmetik ürünleri. Bebek Şampuanı, Bebek Yağ, Pişik Kremleri</p>
                </a>
                <a class="item" href="#">
                    @*<img src="/Content/img/categories/1.png" alt="1" />*@
                    <img src="~/Content/nildeniz/nuby.png" />
                    <p>Bebek beslenme ve Bakım ürünleri Emzik,Biberon</p>
                </a>
                <a class="item" href="javascript:void(0);">
                    @*<img src="/Content/img/categories/1.png" alt="1" />*@
                    <img src="~/Content/nildeniz/baby2go.png" />
                    <p>
                        Bebek Arabaları, Bebek Parkları,
                        her türlü bebek gereç ve aksesuarları
                    </p>
                </a>
                <a class="item" href="javascript:void(0);">
                    @*<img src="/Content/img/categories/1.png" alt="1" />*@
                    <img src="~/Content/nildeniz/formula.png" />
                    <p>Akülü Arabalar, Cipler, Motosikletler ve Lisanlı ürünler</p>
                </a>
                <a class="item" href="javascript:void(0);">
                    @*<img src="/Content/img/categories/1.png" alt="1" />*@
                    <img src="~/Content/nildeniz/bubchen.png" />
                    <p>Bebek ve Çocuk Kozmetik ürünleri. Bebek Şampuanı, Bebek Yağ, Pişik Kremleri</p>
                </a>
                <a class="item" href="#">
                    @*<img src="/Content/img/categories/1.png" alt="1" />*@
                    <img src="~/Content/nildeniz/nuby.png" />
                    <p>Bebek beslenme ve Bakım ürünleri Emzik,Biberon</p>
                </a>
                @*<a class="item" href="javascript:void(0);"><img src="~/Content/nildeniz/baby2go.png" /></a>
                    <a class="item" href="javascript:void(0);"><img src="~/Content/nildeniz/bubchen.png" /></a>
                    <a class="item" href="javascript:void(0);"><img src="~/Content/nildeniz/formula.png" /></a>
                    <a class="item" href="javascript:void(0);"><img src="~/Content/nildeniz/nuby.png" /></a>*@
            </div>
        </div>
    </section><!--Brands Carousel Close-->
    <!--Hero Static-->
    <section class="hero-static">
        <div class="overlay"></div>
        <div style="background-image: url(/Content/nildeniz/baby2goyeni.jpg);" class="bg-image" data-stellar-background-ratio="0.5"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-8">
                    <h1>Nikon D4S</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-7">
                    <a class="btn btn-primary btn-block" href="#"><span>1845$</span>Buy it now</a>
                </div>
            </div>
        </div>
    </section>
    <!--Hero Static Close-->
    <!--Info Block-->
    <section class="info-block">
        <div class="container">
            <div class="row">
                <div class="text col-lg-5 col-md-5 col-sm-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    <a class="btn-outlined btn-primary" href="#">Read more</a>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <img class="center-block" src="/Content/img/info-blocks/1.jpg" alt="1" />
                </div>
            </div>
        </div>
    </section><!--Info Block Close-->
    <!--Info Block with Image Background-->
    <section style="background-image: url(/Content/aytac/fabrika.jpg);" class="info-block-image" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                    <h2>Awesome new cameras in our shop</h2>
                    <div class="row">
                        <div class="icon col-lg-4 col-md-4 col-sm-4">
                            <i class="icon-camera-2"></i>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <p class="p-style3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--Info Block Close-->
    <!--Features Tabs-->
    <section class="feature-tabs">
        <div class="container">
            <div class="row">
                <div class="tabs-content col-lg-6 col-md-6">
                    <div class="tabs-pane current" id="tab-1">
                        <h2>Nikon lenses</h2>
                        <p class="p-style3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
                    </div>
                    <div class="tabs-pane" id="tab-2">
                        <h2>High quality pictures</h2>
                        <p class="p-style3">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                    </div>
                    <div class="tabs-pane" id="tab-3">
                        <h2>Smart file transfer</h2>
                        <p class="p-style3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto sunt explicabo.</p>
                    </div>
                </div>
                <div class="tabs col-lg-6 col-md-6 group">
                    <span class="tab active" data-tab="#tab-1"><i class="icon-eye"></i></span>
                    <span class="tab" data-tab="#tab-2"><i class="icon-multiple-image"></i></span>
                    <span class="tab" data-tab="#tab-3"><i class="icon-portable-pc"></i></span>
                </div>
            </div>
        </div>
        @*<img src="/Content/img/features/lens.jpg" alt="Nikon Lenses" />*@
    </section>
    <!--Features Tabs Close-->
    <!--Hero Static-->
    <section class="hero-static">
        <div class="overlay"></div>
        <div style="background-image: url(/Content/nildeniz/bubyeni.jpg);" class="bg-image" data-stellar-background-ratio="0.5"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-8">
                    <h1>Nikon D4S</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-7">
                    <a class="btn btn-primary btn-block" href="#"><span>1845$</span>Buy it now</a>
                </div>
            </div>
        </div>
    </section>
    <!--Hero Static Close-->
    <!--Testimonials Widget-->
    <section class="testmns-widget">
        <div class="container">
            <h2 class="light-color">What people say</h2>
            <div class="row">
                <div id="testimonials-slider" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#testimonials-slider" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonials-slider" data-slide-to="1"></li>
                        <li data-target="#testimonials-slider" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-4">
                                        <img src="/Content/img/people/1.png" width="192" height="192" alt="Dexter Dirk" />
                                    </div>
                                    <div class="col-lg-8 col-md-9 col-sm-8">
                                        <blockquote>
                                            <p class="text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                            <footer class="text-light">Someone famous in Source Title</footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-4">
                                        <img src="/Content/img/people/1.png" width="192" height="192" alt="Richard Roe" />
                                    </div>
                                    <div class="col-lg-8 col-md-9 col-sm-8">
                                        <blockquote>
                                            <p class="text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                            <footer class="text-light">Someone famous in Source Title</footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-4">
                                        <img src="/Content/img/people/1.png" width="192" height="192" alt="Jonathan Doe" />
                                    </div>
                                    <div class="col-lg-8 col-md-9 col-sm-8">
                                        <blockquote>
                                            <p class="text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                            <footer class="text-light">Someone famous in Source Title</footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--Testimonials Widget Close-->
    <!--Info Block with Parallax Background-->
    <section style="background-image: url(/Content/img/info-blocks/parallax-bg-img2.jpg);" class="info-block-image" data-stellar-vertical-offset="530" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="color-box">
                        <h2>So you need this theme</h2>
                        <div class="tiles">
                            <div><i class="fa fa-truck"></i><span>Free delivery</span></div>
                            <div><i class="fa fa-space-shuttle"></i><span>Deliver even on Mars</span></div>
                            <div><i class="fa fa-shield"></i><span>Safe buy</span></div>
                        </div>
                        <a class="btn btn-primary" href="#">Buy it now</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!--Info Block Close-->
    <!--Hero Static-->
    <section id="hakkimizdaAnchor" class="hero-static">
        <div class="overlay"></div>
        <div style="background-image: url(/Content/aytac/fabrika.jpg);" class="bg-image" data-stellar-background-ratio="0.5"></div>
        <div class="content">
            <div class="inner">
                <h1><br /><span>1960'dan Bu Yana...</span></h1>
            </div>
        </div>
    </section><!--Hero Static Close-->
    <!--About Info-->
    <section class="space-top space-bottom container">
        <h2>Hakkımızda</h2>
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6">
                <h3>Aytaç Bebe Çocuk Gereçleri</h3>
                <p class="p-style3">
                    13 farklı modeliyle %100 yerli sermaye ve iş gücüyle üretim yapmaktadır. Firmamız 1960’lı yılların başında işe başlamış ve bugüne kadar tüketicinin taleplerine cevap verecek ürünleri geliştirmek için 50 yıllık tecrübe ve deneyimini üretimine yansıtarak hem satiş öncesi,hem satış sonrası hizmetiyle bulunduğu konumu hak etmeyi bir anlayış haline getirmiştir. Firmamız Aytaç Bebe Çocuk Gereçleri ünvanını 2000 yılından bu yana kullanmaktadır.
                </p>
            </div>
            <div class="col-lg-6 col-lg-offset-1 col-md-6 col-sm-6">
                <h3>Felsefemiz</h3>
                <p class="p-style3">
                    2008 yılında gelişen yeni politikayla firmamız ileriye doğru büyümenin yanı sıra geriye doğru büyümeninde kaliteyi artıracağını düşünerek, yan sanayisini oluşturmaya başlamış ve Türkiye’nin tek kendi lastiğini üretip aracına monte eden firması olmuştur. Ürünlerimizin tamamında kullanılan malzemelerin bebek ve anne sağlığına zarar vermemesine önem verilmiş ve buna uygun belgeli hammaddeler kullanılmıştır. Geliştirdiğimiz ve geliştireceğimiz tüm ürünleri TÜRKİYE’mizde üretmekten gurur duyuyoruz.
                </p>
            </div>
        </div>
    </section><!--About Info Close-->
    <!--Team-->

    @*<section class="team container">
        <h3>Meet our team</h3>
        <div class="row">
            <!--Member-->
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="member">
                    <div class="mask"><img src="/Content/img/about/team/1.png" alt="1" /></div>
                    <h4>Jonathan Doe</h4>
                    <h5>CEO, Founder</h5>
                    <div class="social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-pinterest-square"></i></a>
                        <a href="mailto:mail@mail.com"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
            <!--Member-->
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="member">
                    <div class="mask"><img src="/Content/img/about/team/1.png" alt="1" /></div>
                    <h4>Jonathan Doe</h4>
                    <h5>CEO, Founder</h5>
                    <div class="social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-pinterest-square"></i></a>
                        <a href="mailto:mail@mail.com"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
            <!--Member-->
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="member">
                    <div class="mask"><img src="/Content/img/about/team/1.png" alt="1" /></div>
                    <h4>Jonathan Doe</h4>
                    <h5>CEO, Founder</h5>
                    <div class="social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-pinterest-square"></i></a>
                        <a href="mailto:mail@mail.com"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
            <!--Member-->
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="member">
                    <div class="mask"><img src="/Content/img/about/team/1.png" alt="1" /></div>
                    <h4>Jonathan Doe</h4>
                    <h5>CEO, Founder</h5>
                    <div class="social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-pinterest-square"></i></a>
                        <a href="mailto:mail@mail.com"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

    <!--Team Close-->
    <!--Google Map-->
    <section id="iletisimAnchor" class="map container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11365119.183662498!2d26.671722792891288!3d45.93754926598604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1403521777633" width="800" height="400" style="border:0"></iframe>
    </section><!--Google Map Close-->
    <!--Contacts-->
    <section class="container">
        <div class="row">
            <!--Contact Info-->
            <div class="col-lg-5 col-lg-offset-1 col-md-5 col-sm-5">
                <h3>İletişim Bilgileri</h3>
                <div class="cont-info-widget">
                    <ul>
                        <li><i class="fa fa-building"></i> Seçilmiş Sokak Yeşilçe Mahellesi 34200 Kağıthane, İstanbul,<br />Türkiye</li>
                        <li><a href="#"><i class="fa fa-envelope"></i>info@aytacbebe.com</a></li>
                        @*<li><a href="#"><i class="fa fa-support"></i>support@aytacbebe.com</a></li>*@
                        <li><i class="fa fa-phone"></i>+90 (212) 324 98 00</li>
                        @*<li><i class="fa fa-mobile"></i>+48 555 234 54 34</li>*@
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-7 col-sm-7">
                <h3>Bize mesajınızı gönderin</h3>
                <form class="contact-form" method="post">
                    <div class="form-group">
                        <label class="sr-only" for="cf-name">Ad</label>
                        <input type="text" class="form-control" name="cf-name" id="cf-name" placeholder="Adınızı girin" required>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="cf-email">Eposta</label>
                        <input type="email" class="form-control" name="cf-email" id="cf-email" placeholder="Eposta adresinizi girin" required>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="cf-message">Mesaj</label>
                        <textarea class="form-control" name="cf-message" id="cf-message" rows="5" placeholder="Mesajınızı girin" required></textarea>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Mesaj gönder">
                </form>
            </div>
        </div>
    </section><!--Contacts Close-->
    <!--Brands Carousel Widget-->
    <section class="brand-carousel">
        <div class="container">
            <h2>Markalarımız</h2>
            <div class="inner">
                <a class="item" href="javascript:void(0);">
                    @*<img src="/Content/img/categories/1.png" alt="1" />*@
                    <img src="~/Content/nildeniz/baby2go.png" />

                </a>
                <a class="item" href="javascript:void(0);">
                    @*<img src="/Content/img/categories/1.png" alt="1" />*@
                    <img src="~/Content/nildeniz/formula.png" />
                </a>
                <a class="item" href="javascript:void(0);">
                    @*<img src="/Content/img/categories/1.png" alt="1" />*@
                    <img src="~/Content/nildeniz/bubchen.png" />
                </a>
                <a class="item" href="#">
                    @*<img src="/Content/img/categories/1.png" alt="1" />*@
                    <img src="~/Content/nildeniz/nuby.png" />
                </a>
                <a class="item" href="javascript:void(0);">
                    @*<img src="/Content/img/categories/1.png" alt="1" />*@
                    <img src="~/Content/nildeniz/baby2go.png" />

                </a>
                <a class="item" href="javascript:void(0);">
                    @*<img src="/Content/img/categories/1.png" alt="1" />*@
                    <img src="~/Content/nildeniz/formula.png" />
                </a>
                <a class="item" href="javascript:void(0);">
                    @*<img src="/Content/img/categories/1.png" alt="1" />*@
                    <img src="~/Content/nildeniz/bubchen.png" />
                </a>
                <a class="item" href="#">
                    @*<img src="/Content/img/categories/1.png" alt="1" />*@
                    <img src="~/Content/nildeniz/nuby.png" />
                </a>
                <a class="item" href="javascript:void(0);">
                    @*<img src="/Content/img/categories/1.png" alt="1" />*@
                    <img src="~/Content/nildeniz/baby2go.png" />

                </a>
                <a class="item" href="javascript:void(0);">
                    @*<img src="/Content/img/categories/1.png" alt="1" />*@
                    <img src="~/Content/nildeniz/formula.png" />
                </a>
                <a class="item" href="javascript:void(0);">
                    @*<img src="/Content/img/categories/1.png" alt="1" />*@
                    <img src="~/Content/nildeniz/bubchen.png" />
                </a>
                <a class="item" href="#">
                    @*<img src="/Content/img/categories/1.png" alt="1" />*@
                    <img src="~/Content/nildeniz/nuby.png" />
                </a>
            </div>
        </div>
    </section><!--Brands Carousel Close-->




</div><!--Page Content Close-->
