    
<style>
    .slide-aciklama {
        font-size:32px;
        font-weight:bolder
    }
</style>
<!--Page Content-->
<div class="page-content">
    <!--Hero Slider-->
    <section class="hero-slider fullscreen">
        <div class="master-slider" id="fullscreen-slider">

            <!--Slide 1-->
            <div class="ms-slide" data-delay="7">
                <div class="overlay"></div>
                <img src="/Scripts/masterslider/blank.gif" data-src="/Content/nildeniz/slider3.jpg" alt="" />
                <h2 style="width: 620px;" class="light-color ms-layer" data-effect="top(50,true)" data-duration="700" data-delay="250" data-ease="easeOutQuad">Sektöründe 50 Yıl.</h2>
                <p style="width:700px;" class="light-color ms-layer slide-aciklama" data-effect="back(500)" data-duration="700" data-delay="500" data-ease="easeOutQuad">Bebek ve çocuk gereçlerinde sektöründe öncü...</p>
                <div class="ms-layer button" data-effect="bottom(50,true)" data-duration="600" data-delay="950" data-ease="easeOutQuad"><a class="btn btn-primary" href="javascipt:void(0)"><span>Ziyaret Et&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></span></a></div>
            </div>

            <!--Slide 2-->
            <div class="ms-slide" data-delay="7">
                <span class="overlay"></span>
                <img src="/Scripts/masterslider/blank.gif" data-src="/Content/aytac/aytac1.jpeg" alt="" />
                <h2 style="width: 456px;" class="light-color ms-layer" data-effect="bottom(50,true)" data-duration="700" data-delay="250" data-ease="easeOutQuad">4baby</h2>
                <p style="width: 456px;" class="light-color ms-layer slide-aciklama" data-effect="bottom(50,true)" data-duration="700" data-delay="500" data-ease="easeOutQuad">2018 Bebek ve Çocuk Gereçleri</p>
                <div class="ms-layer button" data-effect="rotatebottom(30|90,long,br,true)" data-duration="600" data-delay="950" data-ease="easeOutQuad"><a class="btn btn-primary" href="https://www.4baby.com.tr"><span>Ürünlere Göz At&nbsp;&nbsp;<i class="fa fa-search-plus"></i></span></a></div>
            </div>

            <!--Slide 3-->
            <div class="ms-slide" data-delay="7">
                <div class="overlay"></div>
                <img src="/Scripts/masterslider/blank.gif" data-src="/Content/aytac/aytac33.jpeg" alt="" />
                <h2 style="width: 456px;" class="light-color ms-layer" data-effect="left(50,true)" data-duration="700" data-delay="250" data-ease="easeOutQuad"></h2>
                <p style="width: 456px;" class="light-color ms-layer slide-aciklama" data-effect="left(50,true)" data-duration="700" data-delay="500" data-ease="easeOutQuad"></p>
                <div class="ms-layer button" data-effect="left(50,true)" data-duration="600" data-delay="950" data-ease="easeOutQuad"><a class="btn btn-primary" href="https://www.4baby.com.tr/katolog.pdf"><span>4baby Kataloğu İndir&nbsp;&nbsp;<i class="fa fa-download"></i></span></a></div>
            </div>


            <!--Slide 1-->
            <div class="ms-slide" data-delay="7">
                <div class="overlay"></div>
                <img src="/Scripts/masterslider/blank.gif" data-src="/Content/aytac/arkaplan4.jpg" alt="" />
                <h2 style="width: 620px;" class="light-color ms-layer" data-effect="top(50,true)" data-duration="700" data-delay="250" data-ease="easeOutQuad">%100 Yerli</h2>
                <p style="width: 456px;" class="light-color ms-layer slide-aciklama" data-effect="back(500)" data-duration="700" data-delay="500" data-ease="easeOutQuad">Tüm Ürünlerimiz A'dan Z'ye Türkiye'de Üretilmiştir</p>
            </div>


        </div>
    </section><!--Hero Slider Close-->






    <!--Hero Static-->
    <section class="hero-static">
        <div class="overlay"></div>
        <div style="background-image: url(/Content/aytac/arkaplan4.jpg);" class="bg-image" data-stellar-background-ratio="0.5"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-8">
                    <h1>%100 Türk Malı</h1>
                    <p style="font-weight:600;font-size:24px">%100 Türk Malı Olan Ürünlerimizi Gururla Dünyaya İhraç Ediyoruz</p>
                </div>
            </div>
        </div>
    </section>
    <!--Hero Static Close-->
    <!--Categories Slider-->
    <section id="markalarimizAnchor" class="category-slider" style="margin-bottom:-100px">
        <div class="master-slider" id="cat-slider">

            <!--Category (Slide) 1-->
            <div class="ms-slide">
                <!--Background-->
                <img src="/Scripts/masterslider/blank.gif" data-src="/Content/aytac/aytac1.jpeg" alt="lorem ipsum dolor sit" />
                <!--Text-->
                <div class="ms-layer text-block" data-effect="left(50,true)" data-duration="800" data-delay="250" data-ease="easeOutQuad">
                    <h2 class="light-color">4baby<sup>&#174;</sup><br /></h2>
                    <p class="light-color" style="font-weight:600;font-size:32px">2018 Bebek ve Çocuk Gereçleri</p>
                    <a class="btn btn-primary" href="https://www.4baby.com.tr">Ürünlere Göz At</a>
                </div>
                <!--Image-->
                @*<img style="right: 50px;" class="ms-layer img-block" src="/Content/nildeniz/baby2go.png" alt="1" data-effect="back(500)" data-duration="800" data-delay="350" data-ease="easeOutQuad" />*@
                <div class="ms-thumb">
                    @*<img src="/Content/img/categories/thumbs/th_1.png" alt="1" />*@
                    @*<img src="/Content/nildeniz/baby2go.png" />*@
                    @*<img src="/Content/aytac/baby4-logo.png" />*@
                    <img src="~/Content/aytac/rsz_4baby4-logo.png" />
                    <h3>4Baby</h3>
                </div>
            </div>

            <!--Category (Slide) 2-->
            <div class="ms-slide">
                <!--Background-->
                <img src="/Scripts/masterslider/blank.gif" data-src="/Content/aytac/infiniti_1.jpg" alt="lorem ipsum dolor sit" />
                <!--Text-->
                <div class="ms-layer text-block" data-effect="right(50,true)" data-duration="800" data-delay="250" data-ease="easeOutQuad">
                    <h2 class="light-color">infinitive<sup>&#174;</sup><br /></h2>
                    <p class="light-color" style="font-weight:600;font-size:32px">2018 Bebek ve Çocuk Gereçleri</p>
                    <a class="btn btn-primary" href="https://www.infinitive.com.tr">Ürünlere Göz At</a>
                </div>
                <!--Image-->
                @*<img style="right: 50px;" class="ms-layer img-block" src="/Content/nildeniz/bubchen.png" alt="2" data-effect="back(500)" data-duration="800" data-delay="350" data-ease="easeOutQuad" />*@
                <div class="ms-thumb">
                    @*<img src="/Content/aytac/infinitilogo.png" />*@
                    @*<img src="~/Content/aytac/rsz_infinitilogo.png" />*@
                    @*<img src="~/Content/aytac/rsz_2infinitilogo.png" />*@
                    <img src="~/Content/aytac/rsz_11infinitilogo (1).png" />
                    @*<img src="/Content/nildeniz/bubchen.png" />*@
                    @*<img src="/Content/img/categories/thumbs/th_1.png" alt="1" />*@
                    <h3>Infinitive</h3>
                </div>
            </div>

            <!--Category (Slide) 3-->
            @*<div class="ms-slide">
                    <!--Background-->
                    <img src="/Scripts/masterslider/blank.gif" data-src="/Content/nildeniz/slider3.jpg" alt="lorem ipsum dolor sit" />
                    <!--Text-->
                    <div class="ms-layer text-block" data-effect="right(50,true)" data-duration="800" data-delay="250" data-ease="easeOutQuad">
                        <h2 class="light-color">Look for all macs<br />in our shop!</h2>
                        <p class="light-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                        <a class="btn btn-primary" href="#">Go to catalog</a>
                        <a class="btn btn-success" href="#">Browse all PC</a>
                    </div>
                    <!--Image-->
                    <img style="right: 0;" class="ms-layer img-block" src="/Content/nildeniz/formula.png" " alt="3" data-effect="back(500)" data-duration="800" data-delay="350" data-ease="easeOutQuad" />
                    <div class="ms-thumb">
                        <img src="/Content/img/categories/thumbs/th_1.png" alt="1" />
                        <img src="/Content/nildeniz/formula.png" />
                        <h3>Formula</h3>
                    </div>
                </div>*@

            <!--Category (Slide) 4-->
            @*<div class="ms-slide">
                    <!--Background-->
                    <img src="/Scripts/masterslider/blank.gif" data-src="/Content/nildeniz/bubyeni.jpg" alt="lorem ipsum dolor sit" />
                    <!--Text-->
                    <div class="ms-layer text-block" data-effect="right(50,true)" data-duration="800" data-delay="250" data-ease="easeOutQuad">
                        <h2 class="light-color">Look for all macs<br />in our shop!</h2>
                        <p class="light-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                        <a class="btn btn-primary" href="#">Go to catalog</a>
                        <a class="btn btn-success" href="#">Browse all PC</a>
                    </div>
                    <!--Image-->
                    <img style="right: 60px;" class="ms-layer img-block" src="/Content/nildeniz/nuby.png" alt="4" data-effect="back(500)" data-duration="800" data-delay="350" data-ease="easeOutQuad" />
                    <div class="ms-thumb">
                        <img src="/Content/img/categories/thumbs/th_1.png" alt="1" />
                        <img src="/Content/nildeniz/nuby.png" />
                        <h3>Nuby</h3>
                    </div>
                </div>*@

            <!--Category (Slide) 5-->
            @*<div class="ms-slide">
                    <!--Background-->
                    <img src="/Scripts/masterslider/blank.gif" data-src="/Content/nildeniz/baby2goyeni.jpg" alt="lorem ipsum dolor sit" />
                    <!--Text-->
                    <div class="ms-layer text-block" data-effect="right(50,true)" data-duration="800" data-delay="250" data-ease="easeOutQuad">
                        <h2 class="gray-color">Look for all macs<br />in our shop!</h2>
                        <p class="gray-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                        <a class="btn btn-primary" href="#">Go to catalog</a>
                        <a class="btn btn-success" href="#">Browse all PC</a>
                    </div>
                    <!--Image-->
                    <img style="right: 60px;" class="ms-layer img-block" src="/Content/nildeniz/baby2go.png" alt="5" data-effect="back(500)" data-duration="800" data-delay="350" data-ease="easeOutQuad" />
                    <div class="ms-thumb">
                        <img src="/Content/img/categories/thumbs/th_1.png" alt="1" />
                        <img src="/Content/nildeniz/baby2go.png" />
                        <h3>Baby2go</h3>
                    </div>
                </div>*@

        </div>
    </section><!--Categories Slider Close-->
    <!--Hero Static-->
    <section id="hakkimizdaAnchor" class="hero-static">
        <div class="overlay"></div>
        <div style="background-image: url(/Content/aytac/fabrika.jpg);" class="bg-image" data-stellar-background-ratio="0.5"></div>
        <div class="content">
            <div class="inner">
                <h1 style="text-align:center;margin-top:100px">
                    <br /><span>1960'dan Bu Yana</span>
                    <br /><span>Bitmeyen Enerjisi ve</span>
                    <br /><span>Yenilikçi Vizyonuyla Sektörde Öncü...</span>
                </h1>
            </div>
        </div>
    </section><!--Hero Static Close-->
    <!--About Info-->
    <section class="space-top space-bottom container">
        <h2>Hakkımızda</h2>
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6">
                <h3>Aytaç Bebe Çocuk Gereçleri</h3>
                <p class="p-style3">
                    13 farklı modeliyle %100 yerli sermaye ve iş gücüyle üretim yapmaktadır. Firmamız 1960’lı yılların başında işe başlamış ve bugüne kadar tüketicinin taleplerine cevap verecek ürünleri geliştirmek için 50 yıllık tecrübe ve deneyimini üretimine yansıtarak hem satiş öncesi,hem satış sonrası hizmetiyle bulunduğu konumu hak etmeyi bir anlayış haline getirmiştir. Firmamız Aytaç Bebe Çocuk Gereçleri ünvanını 2000 yılından bu yana kullanmaktadır.
                </p>
            </div>
            <div class="col-lg-6 col-lg-offset-1 col-md-6 col-sm-6">
                <h3>Felsefemiz</h3>
                <p class="p-style3">
                    2008 yılında gelişen yeni politikayla firmamız ileriye doğru büyümenin yanı sıra geriye doğru büyümeninde kaliteyi artıracağını düşünerek, yan sanayisini oluşturmaya başlamış ve Türkiye’nin tek kendi lastiğini üretip aracına monte eden firması olmuştur. Ürünlerimizin tamamında kullanılan malzemelerin bebek ve anne sağlığına zarar vermemesine önem verilmiş ve buna uygun belgeli hammaddeler kullanılmıştır. Geliştirdiğimiz ve geliştireceğimiz tüm ürünleri TÜRKİYE’mizde üretmekten gurur duyuyoruz.
                </p>
            </div>
        </div>
    </section><!--About Info Close-->
    <!--Google Map-->
    <section id="iletisimAnchor" class="map container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11365119.183662498!2d26.671722792891288!3d45.93754926598604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1403521777633" width="800" height="400" style="border:0"></iframe>
    </section><!--Google Map Close-->
    <!--Contacts-->
    <section class="container">
        <div class="row">
            <!--Contact Info-->
            <div class="col-lg-5 col-lg-offset-1 col-md-5 col-sm-5">
                <h3>İletişim Bilgileri</h3>
                <div class="cont-info-widget">
                    <ul>
                        <li><i class="fa fa-building"></i> Seçilmiş Sokak Yeşilçe Mahellesi 34200 Kağıthane, İstanbul,<br />Türkiye</li>
                        <li><a href="#"><i class="fa fa-envelope"></i>info@aytacbebe.com</a></li>
                        @*<li><a href="#"><i class="fa fa-support"></i>support@aytacbebe.com</a></li>*@
                        <li><i class="fa fa-phone"></i>+90 (212) 324 98 00</li>
                        @*<li><i class="fa fa-mobile"></i>+48 555 234 54 34</li>*@
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-7 col-sm-7">
                <h3>Bize mesajınızı gönderin</h3>
                <form class="contact-form" method="post" action="">
                    <div class="form-group">
                        <label class="sr-only" for="cf-name">Ad</label>
                        <input type="text" class="form-control" name="cf-name" id="cf-name" placeholder="Adınızı girin" required>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="cf-email">Eposta</label>
                        <input type="email" class="form-control" name="cf-email" id="cf-email" placeholder="Eposta adresinizi girin" required>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="cf-message">Mesaj</label>
                        <textarea class="form-control" name="cf-message" id="cf-message" rows="5" placeholder="Mesajınızı girin" required></textarea>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Mesaj gönder">
                </form>
            </div>
        </div>
    </section><!--Contacts Close-->
</div><!--Page Content Close-->
