	<!--Page Content-->
<div class="page-content">

	<!--Categories Slider-->
	<section class="category-slider">
		<div class="master-slider" id="cat-slider">

			<!--Category (Slide) 1-->
			<div class="ms-slide">
				<!--Background-->
				<img src="/Scripts/masterslider/blank.gif" data-src="/Content/nildeniz/baby2goyeni.jpg" alt="lorem ipsum dolor sit" />
				<!--Text-->
				<div class="ms-layer text-block" data-effect="left(50,true)" data-duration="800" data-delay="250" data-ease="easeOutQuad">
					<h2 class="light-color">Look for all macs<br />in our shop!</h2>
					<p class="light-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
					<a class="btn btn-primary" href="#">Go to catalog</a>
					<a class="btn btn-success" href="#">Browse all PC</a>
				</div>
				<!--Image-->
				<img style="right: 50px;" class="ms-layer img-block" src="/Content/nildeniz/baby2go.png" alt="1" data-effect="back(500)" data-duration="800" data-delay="350" data-ease="easeOutQuad" />
				<div class="ms-thumb">
					@*<img src="/Content/img/categories/thumbs/th_1.png" alt="1" />*@
					<img src="/Content/nildeniz/baby2go.png" />
					<h3>Baby2go</h3>
				</div>
			</div>

			<!--Category (Slide) 2-->
			<div class="ms-slide">
				<!--Background-->
				<img src="/Scripts/masterslider/blank.gif" data-src="/Content/nildeniz/for1.jpg" alt="lorem ipsum dolor sit" />
				<!--Text-->
				<div class="ms-layer text-block" data-effect="right(50,true)" data-duration="800" data-delay="250" data-ease="easeOutQuad">
					<h2 class="gray-color">Look for all macs<br />in our shop!</h2>
					<p class="gray-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
					<a class="btn btn-primary" href="#">Go to catalog</a>
					<a class="btn btn-success" href="#">Browse all PC</a>
				</div>
				<!--Image-->
				<img style="right: 50px;" class="ms-layer img-block" src="/Content/nildeniz/bubchen.png" alt="2" data-effect="back(500)" data-duration="800" data-delay="350" data-ease="easeOutQuad" />
				<div class="ms-thumb">
					<img src="/Content/nildeniz/bubchen.png" />
					@*<img src="/Content/img/categories/thumbs/th_1.png" alt="1" />*@
					<h3>Bubchen</h3>
				</div>
			</div>

			<!--Category (Slide) 3-->
			<div class="ms-slide">
				<!--Background-->
				<img src="/Scripts/masterslider/blank.gif" data-src="/Content/nildeniz/slider3.jpg" alt="lorem ipsum dolor sit" />
				<!--Text-->
				<div class="ms-layer text-block" data-effect="right(50,true)" data-duration="800" data-delay="250" data-ease="easeOutQuad">
					<h2 class="light-color">Look for all macs<br />in our shop!</h2>
					<p class="light-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
					<a class="btn btn-primary" href="#">Go to catalog</a>
					<a class="btn btn-success" href="#">Browse all PC</a>
				</div>
				<!--Image-->
				<img style="right: 0;" class="ms-layer img-block" src="/Content/nildeniz/formula.png" " alt="3" data-effect="back(500)" data-duration="800" data-delay="350" data-ease="easeOutQuad" />
				<div class="ms-thumb">
					@*<img src="/Content/img/categories/thumbs/th_1.png" alt="1" />*@
					<img src="/Content/nildeniz/formula.png" />
					<h3>Formula</h3>
				</div>
			</div>

			<!--Category (Slide) 4-->
			<div class="ms-slide">
				<!--Background-->
				<img src="/Scripts/masterslider/blank.gif" data-src="/Content/nildeniz/bubyeni.jpg" alt="lorem ipsum dolor sit" />
				<!--Text-->
				<div class="ms-layer text-block" data-effect="right(50,true)" data-duration="800" data-delay="250" data-ease="easeOutQuad">
					<h2 class="light-color">Look for all macs<br />in our shop!</h2>
					<p class="light-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
					<a class="btn btn-primary" href="#">Go to catalog</a>
					<a class="btn btn-success" href="#">Browse all PC</a>
				</div>
				<!--Image-->
				<img style="right: 60px;" class="ms-layer img-block" src="/Content/nildeniz/nuby.png" alt="4" data-effect="back(500)" data-duration="800" data-delay="350" data-ease="easeOutQuad" />
				<div class="ms-thumb">
					@*<img src="/Content/img/categories/thumbs/th_1.png" alt="1" />*@
					<img src="/Content/nildeniz/nuby.png" />
					<h3>Nuby</h3>
				</div>
			</div>

			<!--Category (Slide) 5-->
			<div class="ms-slide">
				<!--Background-->
				<img src="/Scripts/masterslider/blank.gif" data-src="/Content/nildeniz/baby2goyeni.jpg" alt="lorem ipsum dolor sit" />
				<!--Text-->
				<div class="ms-layer text-block" data-effect="right(50,true)" data-duration="800" data-delay="250" data-ease="easeOutQuad">
					<h2 class="gray-color">Look for all macs<br />in our shop!</h2>
					<p class="gray-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
					<a class="btn btn-primary" href="#">Go to catalog</a>
					<a class="btn btn-success" href="#">Browse all PC</a>
				</div>
				<!--Image-->
				<img style="right: 60px;" class="ms-layer img-block" src="/Content/nildeniz/baby2go.png" alt="5" data-effect="back(500)" data-duration="800" data-delay="350" data-ease="easeOutQuad" />
				<div class="ms-thumb">
					@*<img src="/Content/img/categories/thumbs/th_1.png" alt="1" />*@
					<img src="/Content/nildeniz/baby2go.png" />
					<h3>Baby2go</h3>
				</div>
			</div>

		</div>
	</section><!--Categories Slider Close-->
</div><!--Page Content Close-->